@use 'variables' as *;
@use 'header' ;
@use 'titulo';
@use '_evento.scss';
@use 'chamada';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: $corTextoPrinc;
    text-decoration: none;
    list-style: none;
    

}

body{
    background-color: #00AEEF;
    background-image: url(/src/imagens/fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;

    
}



.span{

    

    &--is-square{
        
        position: absolute;
        left: 0px;
        top: 500px;
        text-align: left;
        border-bottom:90px solid $corPrincipal ;
        border-right: 350px solid $corPrincipal;
        @media (max-width:764){
            top: 180px;
            border-bottom:40px solid $corPrincipal ;
            border-right: 60px solid $corPrincipal;
        }
        @media (min-width:764px) and (max-width:1024px){
            top: 300px;
            border-right: 180px solid $corPrincipal;
        }
    }

    &--is-triangle{
        margin-top: 10px;
        border-left: 55px solid transparent;
        border-right: 55px solid transparent;
        border-top: 80px solid $corPrincipal; /* Cor do triângulo */
        position: absolute;

        @media (max-width:764px){
        margin-top: 5px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 40px solid $corPrincipal; /* Cor do triângulo */
        }
        @media (min-width:764px) and (max-width:1024px){
            border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-top: 50px solid $corPrincipal; /* Cor do triângulo */
        }

        }

        &--is-rectangle{
            
            border-left: 600px solid $corPrincipal;
            border-bottom:10px solid $corPrincipal;
            
            @media (max-width:764px){
                margin-top: -50px;
                border-left: 180px solid $corPrincipal;
                border-bottom:0 solid $corPrincipal;
            }
        } 

        &--is-rigth-triangle{
        
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 80px solid $corPrincipal; /* Cor do triângulo */
        position: absolute;
        right: 500px;
        top: 700px;
        z-index: -1;

        @media (max-width:764px){
            top: 280px;
            right: 70px;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-top: 40px solid $corPrincipal; 
            }

            @media (min-width:764px) and (max-width:1024px){
                display: none;
            }
        }

        &--is-triangulo{
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-bottom: 80px solid $corPrincipal;
            position: absolute;
            left: 46.8%;
            bottom:90% ;
            @media(max-width: 764){
                left: 40%;
            }

            @media (min-width:764px) and (max-width:1024px){
                left: 45%;
            }
        }

        &--is-square2{
            border-left: 20px solid $corPrincipal;
            border-right: 240px solid $corPrincipal;
            border-bottom:30px solid $corPrincipal;
            position: absolute;
            right: 20px;
            bottom: 10px;
            @media(max-width: 764){
                bottom: -30px;
            }
        }

        
}



